body {
    margin: 0;
    background: #f7f7fb;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial;
    direction: rtl;
}

.container {
    max-width: 1100px;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}
